<html>
<head>
    {% block head %}{% endblock %}
    <title>Blog Admin</title>
</head>
<body>
<ul>
    <li><a href="{{ url('seferov_blog_admin_posts') }}">Posts</a></li>
    <li><a href="{{ url('seferov_blog_admin_add_post') }}">Add Post</a></li>
    <li><a href="{{ url('seferov_blog_admin_logout') }}">Logout</a></li>
</ul>

{% block main %}{% endblock %}
<script src="{{ asset('bundles/seferovblog/js/ckeditor/ckeditor.js') }}"></script>
<script>
    CKEDITOR.replace('post_post', {
        toolbarGroups: [
            {name: 'tools'},
            {name: 'links'},
            {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
            {name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
            {name: 'styles'},
            {name: 'others'}
        ],
        extraPlugins: 'markdown'
    });
</script>
</body>
</html>
